services:
  db:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - psql-volume:/var/lib/postgresql

  fastapi:
    build: .
    container_name: fastapi
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - db
    command: >
      gunicorn --bind 0.0.0.0:5000 --workers 3 main:app

volumes:
  psql-volume:
